{*
stylify-variables
	titleSize: '48px'
/stylify-variables

stylify-files
    ./_content.latte
/stylify-files
*}

{block content}
<link rel="stylesheet" href="/static/css/homepage.css">
{include './_content.latte'}
